<p>Add Course</p>

<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" type="text" name="title" class="validate" required>
    <label for="title">Course Name</label>
    <span class="helper-text" data-error="wrong name" data-success=""></span>
  </div>

  <div class="input-field">
    <input id="price" type="number" name='price' class="validate" required min="1">
    <label for="price">Price</label>
    <span class="helper-text" data-error="wrong price" data-success=""></span>
  </div>

  <div class="input-field">
    <input id="img" type="text" name='img' class="validate" required>
    <label for="img">IMG URL</label>
    <span class="helper-text" data-error="wrong img" data-success=""></span>
  </div>

  <button class="btn btn-primary">Add Course</button>
</form>
